<html>
<head>
<title>Random Simile Generator</title>
</head>
<body>
    <h1>Random Simile Generator</h1>
    <h2>Here is a simile, randomly generated for you!</h2>
    <div id="content">
        <h1>"{{simile}}"</h1>
    </div>
</body>
</html>